# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv*/
env/
ENV/

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb_checkpoints

# Virtual environments
venv_tf/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
